<div class="container d-flex" id="index-container">
  <div class="trips-new">
    <h1><%= link_to 'New Adventure', new_trip_path %></h1>
  </div>
  <div class="ml-auto">
    <h1 class="trips-past">Past Adventures</h1>
    <% @trips.each do |trip| %>
      <%= link_to(trip_path(trip)) do %> <br>
        <%= trip.trip_name %> |
        <%= trip.trip_duration %> parsecs
      <% end %>
    <% end %>
  </div>
</div>
