<div class="container d-flex">
  <div class="trips-new d-flex flex-column justify-content-center">
    <h1><%= link_to 'New Adventure', new_trip_path %></h1>
  </div>
  <div class="trips-past ml-auto mr-5 pt-5">
    <h1>Past Adventures</h1>
    <hr>
    <% @trips.each do |trip| %>
      <%= link_to(trip_path(trip)) do %> <br>
        <%= trip.trip_name %> |
        <%= trip.trip_duration %> parsecs
      <% end %>
    <% end %>
  </div>
</div>
