<div class="container d-flex" id="index-container">
  <div class="mx-auto">
    <h1 class="trips-index text-center">Active Adventures</h1>
    <ul class="list-group text-center">
      <% @trips.each do |trip| %>
        <%= link_to(trip_path(trip), class: 'list-item') do %> <br>
          <%= trip.trip_name %> |
          <%= trip.trip_duration %> parsecs
        <% end %>
      <% end %>
    </ul>
  </div>

</div>
