@import '**/*';
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";

// set background image
body{
  background-image: url('trip-trackr-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #FFD700;
}

// uniform font-color for links
a{
  color: #FFD700;
}

// removes default link hover, adds custom styling
a:hover:not(#logo-link):not(.form-link){
  text-decoration: none;
  color: #FFD700;
  border-bottom: 1px solid #FFD700;
}

// navbar custom styles
.nav-menu{
  margin-right: 7%;
}

#nav-logo-img{
  height: 50px;
  width: 45%;
}

#nav-logo-img:hover{
  text-decoration: none;
  border-bottom: 1px solid #FFD700;
}

#collapseNavbar{
  padding-left: 60%;
}
