<div class="container d-flex">
  <div class="locations-new mt-5">
    <h1><%= link_to 'Add Stop', new_location_path %></h1>
  </div>
  <div class="locations-past ml-auto mr-5 pt-5">
    <h1>Past Stops</h1>
    <% @locations.each do |location| %>
      <%= link_to location.name, location_path(location) %> <br>
      <hr>
    <% end %>
  </div>
</div>
