<div class="ui "
<h1>Locations</h1>
<p><%= link_to 'Add Location', new_location_path %></p>
<% @locations.each do |location| %>
  <%= link_to location.name, location_path(location) %> <br> <!--RAS-->
  <hr><!--RAS-->

<% end %>
